<div class="container" id="container">
    <div class="card" id="login">
        <div class="card-body">
            <form action="/ownerslogin/login" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="btn btn-dark btn-block"
                    style="background-color: #cb202d; border:none">Login</button>
            </form>
            <a href="#" class="small" id="forgotlink">Forgot Password?</a>
            <p class="small">Don't have an Account? <a href="#" id="signuplink">Sign Up Here!</a></p>
        </div>
    </div>
    <div class="card d-none" id="signup">
        <div class="card-body">
            <form action="/ownerslogin/signup" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name" name="fullname" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="What Is your favorite book?"
                        name="securityQues" required>
                </div>
                <button type="submit" class="btn btn-dark btn-block" style="background-color: #cb202d; border:none">Sign
                    Up</button>
            </form>
        </div>
    </div>
    <div class="card d-none" id="forgot">
        <div class="card-body">
            <form action="/ownerslogin/forgot" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="What Is your favorite book?"
                        name="securityQues" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="btn btn-dark btn-block"
                    style="background-color: #cb202d; border:none">Update</button>
            </form>
        </div>
    </div>
</div>