#imgcontainer {
  background: url(/images/ownerhomeback.jpg) no-repeat;
  background-size: cover;
  height: 400px;
  margin: 0;
}
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #282c35;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #cb202d;
}

.card-text::-webkit-scrollbar {
  width: 8px;
}

.card-text::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #ffffff;
}

.card-text::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #cb202d;
}
